@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
  }
  

:root {
    --main-font-color: #ce0e1b;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

body{
    font-family: Roboto-Light;
    margin: 0px;
    background: url(/static/img/Layer_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    width: 100vw;
}

main{
    margin-left: 150px;
}

#backdrop{
    max-width: 100vw;
    max-height: 100vh;
    margin-left: 80px;
}

nav{
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
}

nav #nav-container{
    z-index: 55;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 40px;
    margin-right: 80px;
}

nav h1, nav h3{
    position: relative;
    transform: rotate(180deg);
    writing-mode:vertical-rl;
    white-space: nowrap;
    font-size: 22px;
}

nav h1{
    margin-bottom: 30px;
}
nav h3{
    margin-bottom: 30px;
}

nav .bar-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

nav .bar{
    background-color: #000;
    width: 30px;
    height: 5px;
    min-height: 5px;
    margin-bottom: 7px;
}

nav .bar:last-of-type{
    margin-bottom: 0px;
}

nav #line{
    border-right: 1px solid black;
    height: 100vh;
    position: absolute;
    padding-right: 130px;
}

nav .menu-container.active{
    visibility: visible; 
}

nav .menu-container{
    visibility: hidden;
    display: flex;
}

nav .menu-container .list-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

nav .menu-container ul{
    list-style: none;
    width: 180px;
    padding: 0px;
}
nav .menu-container ul:first-of-type{
    padding-top: 80px;
    margin-top: 0px;
}

nav .menu-container ul li{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    white-space: nowrap;
}